<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User manager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<main>
    <nav class="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/userslist">Users List</a></li>
            <li><a href="/adduser">Add User</a></li>
            <li><a href="/addgroup">Add Group</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <div class="page_header">
    <h1>Add Group</h1>
<form method="POST">
<label>Group Name</label>
<input type="text" name="groupname">
<input type="submit" value="Save">
</form>
<br>
{% for element in groupslist %}
<p>
    <a href="#">
        {{element}}
    </a>
</p>
{% endfor %}

</main>
<footer>
    created by oleksii horbachevskyi 2020 year
</footer>
</body>
</body>
</html>
